<div class="login-container container-fluid">
  <div class="row">
    <section class="col-sm-6 align-self-center">
      <div class="row align-items-center justify-content-center">
        <div class="col-7">
          <img class="login-logo" src="assets/images/login/logo.png" alt="">

          <h4>Reset your password.</h4>
          <p>Create new password.</p>
          
          <br>

          <form (ngSubmit)="resetPassword()" novalidate [formGroup]="resetPasswordForm">
            <section class="form-group">
              <label class="form-label" for="pwdControl">Enter new password *</label>
              <input type="password" id="pwdControl" formControlName="newPwd" class="form-control " />
              <div *ngIf="resetPasswordForm.get('newPwd')?.invalid && (resetPasswordForm.get('newPwd')?.touched || resetPasswordForm.get('newPwd')?.dirty)">
                <span *ngIf="resetPasswordForm.get('newPwd')?.hasError('required')" class="err-msg">Please enter new password</span>
                <span *ngIf="resetPasswordForm.get('newPwd')?.hasError('minlength')" class="err-msg">Password should contain minimum 4 characters</span>
              </div>
            </section>
            <section class="form-group">
              <label class="form-label" for="confirmPwdControl">Confirm password *</label>
              <input type="password" id="confirmPwdControl" formControlName="confirmPwd" class="form-control " />
              <div *ngIf="resetPasswordForm.get('confirmPwd')?.invalid && (resetPasswordForm.get('confirmPwd')?.touched || resetPasswordForm.get('confirmPwd')?.dirty)">
                  <span *ngIf="resetPasswordForm.get('confirmPwd')?.hasError('required')" class="err-msg">Please confirm new password</span>
                  <span *ngIf="resetPasswordForm.get('confirmPwd')?.hasError('minlength')" class="err-msg">Password should contain minimum 4 characters</span>
                  <span *ngIf="(resetPasswordForm.get('confirmPwd')?.hasError('passwordMismatch') && !resetPasswordForm.get('confirmPwd')?.hasError('minlength'))" class="err-msg">Password mismatch</span>
              </div>
            </section>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-paimary-gradient btn-block">Submit</button>
            </div>
            <div class="text-center">
              Don't have an account ?
              <a (click)="navigateTo($event, 'registration')" href="#" class="link">Create</a>
            </div>
            <div class="text-center">
              Or
            </div>
            <div class="text-center">
              Already have an account ?
              <a (click)="navigateTo($event, 'login')" href="#" class="link">Login here</a>
            </div>
          </form>

        </div>

      </div>
    </section>
    <section class="col-sm-6 align-self-center" id="right-bg">
      <img src="assets/images/login/mobile_add.png" alt="">
    </section>
  </div>
</div>
