<div class="login-container container-fluid">
  <div class="row">
    <section class="col-sm-6 form-container align-self-center">
      <div class="row align-items-center justify-content-center">
        <div class="col-9">
          <img class="login-logo" src="assets/images/login/logo.png" alt="">

          <h4>New Here!</h4>
          <p>Join us today! it takes only few steps</p>

          <br>

          <form novalidate (ngSubmit)="registerUser()" [formGroup]="rgtFormGroup" action="">
            <fieldset [disabled]="registrationFormDisabled">


              <div class="row">
                <section class="form-group col-6">
                  <label class="form-label" for="Fname">First Name *</label>
                  <input type="text" placeholder="e.g. John" formControlName="Fname" id="Fname" class="form-control " />
                  <div *ngIf="rgtFormGroup.get('Fname')?.invalid && (rgtFormGroup.get('Fname')?.touched || rgtFormGroup.get('Fname')?.dirty)">
                    <span class="err-msg">Please enter first name</span>
                  </div>
                </section>
                <section class="form-group col-6">
                  <label class="form-label" for="Lname">Last Name</label>
                  <input type="text" placeholder="e.g. Doe" formControlName="Lname" id="Lname" class="form-control " />
                </section>

                <section class="form-group col-6">
                  <label class="form-label" for="Email">Email *</label>
                  <input type="email" placeholder="e.g. someone@somedomain" formControlName="EmlID" id="Email" class="form-control " />
                  <div *ngIf="rgtFormGroup.get('EmlID')?.invalid && (rgtFormGroup.get('EmlID')?.touched || rgtFormGroup.get('EmlID')?.dirty)">
                    <span class="err-msg">Please enter valid email</span>
                  </div>
                </section>

                <section class="form-group col-6">
                  <label class="form-label" for="RegTyp">Registration type *</label>
                  <mat-select class="form-control" (selectionChange)="setPrgCode()" placeholder="e.g. Employee" formControlName="RegTyp" id="RegTyp">
                    <mat-option *ngFor="let regtType of regtTypeList" [value]="regtType.value">
                      {{regtType.name}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="rgtFormGroup.get('RegTyp')?.invalid && (rgtFormGroup.get('RegTyp')?.touched || rgtFormGroup.get('RegTyp')?.dirty)">
                    <span class="err-msg">Please choose registration type</span>
                  </div>
                </section>

                <section class="form-group col-6">
                  <label class="form-label" for="Paswd">Password *</label>
                  <input type="password" placeholder="e.g. my secret password" formControlName="Paswd" id="Paswd" class="form-control " />
                  <div *ngIf="rgtFormGroup.get('Paswd')?.invalid && (rgtFormGroup.get('Paswd')?.touched || rgtFormGroup.get('Paswd')?.dirty)">
                    <span *ngIf="rgtFormGroup.get('Paswd')?.hasError('required')" class="err-msg">Please enter password</span>
                    <span *ngIf="rgtFormGroup.get('Paswd')?.hasError('minlength')" class="err-msg">Password should be minimum of 5</span>
                    <span *ngIf="rgtFormGroup.get('Paswd')?.hasError('maxlength')" class="err-msg">Password should be minimum of 8</span>
                  </div>
                </section>
                <input type="hidden" value="PrgCode" />

                <section class="form-group col-6">
                  <label class="form-label" for="CompanyName">Company name *</label>
                  <input type="text" placeholder="e.g. Jack Morris Media" formControlName="CompName" id="CompanyName" class="form-control "
                  />
                  <div *ngIf="rgtFormGroup.get('CompName')?.invalid && (rgtFormGroup.get('CompName')?.touched || rgtFormGroup.get('CompName')?.dirty)">
                    <span class="err-msg">Please enter company name</span>
                  </div>
                </section>

                <section class="form-group col-6">
                  <label class="form-label" for="WebsiteUrl">Website url</label>
                  <input type="url" placeholder="e.g. http://somedomain.com" formControlName="CmpDomain" id="WebsiteUrl" class="form-control "
                  />
                  <div *ngIf="rgtFormGroup.get('CmpDomain')?.invalid && (rgtFormGroup.get('CmpDomain')?.touched || rgtFormGroup.get('CmpDomain')?.dirty)">
                    <span class="err-msg">Please enter valid url</span>
                  </div>
                </section>

                <section class="form-group col-6">
                  <label class="form-label" for="SkypeName">Skype name *</label>
                  <input type="text" placeholder="e.g. live:mySkypename" formControlName="SkypeName" id="SkypeName" class="form-control " />
                  <div *ngIf="rgtFormGroup.get('SkypeName')?.invalid && (rgtFormGroup.get('SkypeName')?.touched || rgtFormGroup.get('SkypeName')?.dirty)">
                    <span class="err-msg">Please enter skype name</span>
                  </div>
                </section>

                <section class="form-group col-6">
                  <label class="form-label" for="Country">Country *</label>
                  <mat-select class="form-control" placeholder="e.g. India" formControlName="Country" id="Country">
                    <mat-option *ngFor="let option of CountryList" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="rgtFormGroup.get('Country')?.invalid && (rgtFormGroup.get('Country')?.touched || rgtFormGroup.get('Country')?.dirty)">
                    <span class="err-msg">Please enter country</span>
                  </div>
                </section>

                <section class="form-group col-6">
                  <label class="form-label" for="Phone">Phone *</label>
                  <input type="tel" placeholder="e.g. 98XXXXXXXX" formControlName="Phone" id="Phone" class="form-control " />
                  <div *ngIf="rgtFormGroup.get('Phone')?.invalid && (rgtFormGroup.get('Phone')?.touched || rgtFormGroup.get('Phone')?.dirty)">
                    <span *ngIf="rgtFormGroup.get('Phone')?.hasError('required')" class="err-msg">Please enter Phone</span>
                    <span *ngIf="rgtFormGroup.get('Phone')?.hasError('minlength')" class="err-msg">Please enter 10 digits Phone</span>
                    <span *ngIf="rgtFormGroup.get('Phone')?.hasError('pattern')" class="err-msg">Please enter 10 digits only</span>
                  </div>
                </section>
              </div>
              <!-- row -->


              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-paimary-gradient btn-block">Register</button>
              </div>
              <div class="text-center">
                Already have an account ?
                <a (click)="goToLogin($event)" href="#" class="link">login Here</a>
              </div>
            </fieldset>
          </form>

        </div>

      </div>
    </section>
    <section class="col-sm-6 align-self-center" id="right-bg">
      <img src="assets/images/login/registration.jpg" alt="">
    </section>
  </div>
</div>
